* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: odin;
    src: url(font/Norse-Bold.otf);
}

:root {
    font-family: odin;
}

img {
    float: left;
}

input, label {
    display: block;
}

.background {
    background-image: url(img/leaf.jpg);
    background-size: cover;
    color: white;
    font-size: 2.5rem;
    width: 30%;
    min-height: 100vh;
    float: left;
}

main {
    float: right;
}
